<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div>
    <div class="courses">

        @for (course of courses; track $index;
         let first = $first; let last = $last; let even = $even; let odd = $odd){
            <course-card 
                [course]="course"
                [index]="$index"
                [class.is-first]="first"
                [class.is-last]="last"
                [class.is-even]="even"
                [class.is-odd]="odd"

                (courseSelected)="onCourseSelected($event)" />
        }
        @empty {
            <h1>No courses found!</h1>
        }
    
        <!-- <course-card (courseSelected)="onCourseSelected($event)" [course]="rxjsCourse"></course-card>
    
        <course-card (courseSelected)="onCourseSelected($event)" [course]="ngrxCourse"></course-card> -->
    </div>
</div>


<!--  
    Promise.resolve()
    .then(() => console.log(1));

    setTimeout (() => console.log(2), 10);

    queueMicrotask(() {
        console.log(3)
        queueMicrotask(() => console.log (4))
    });

    console.log(5);
-->